/* .wrapper{
    grid-template-areas:
        "header header"
        "nav    nav"
        "links  content"
        "footer footer";
} */
.wrapper{
    display: grid;
    grid-template-columns: 2fr  1fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
    grid-template-areas: 
    "header     header"
    "nav        nav"
    "content    newsfeed"
    "content    contact";
    grid-gap: 1em;
} 

.wrapper > div {
    background: #eee;
    padding: 1em;
}
.wrapper > div:nth-child(odd){
    background: #ddd;
}

/* Header Starts Here */ 
.header{
    grid-area: header;
}

.banner{
    display: inline-block;
    width: 277px;
    font-size: large;
    margin-left: 4px;
}  

.nav{
    grid-area: nav;
    
   
}
/* Navigation Bar Content */

nav {
        border-top: solid black;
        border-bottom: solid black;
        padding: 0;
        margin: 0;
        height:40px;
    }

nav ul li {
    list-style: none;
    display: inline-block;
    margin: -1px auto;
    font-size: 25px;
    padding: 0;
    transform: translate(10px, -10px);
}

#bar {
    text-align: justify;
    min-width: 500px;
    padding-right: 40px;
}
#bar:after {
    content: '';
    display: inline-block;
    width: 90%;
}
#bar li {
    display: inline-block;
}

a {
    color: black;
    text-decoration: none;
}
a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

.content{
    grid-area: content;
}
.newsfeed{
    grid-area: newsfeed;
    overflow-y: scroll;
    

}
.contact{
    grid-area: contact;
}